rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /reservations/{companyId}/{reservationId}/{allPaths=**} {
      allow read, write: if true;
    }
    match /companies/{companyId}/parkingLots/{lotId}/{allPaths=**} {
      allow read, write: if true;
    }
    match /companies/{companyId}/insurance/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
